type camera_sysfs, fs_type, sysfs_type;
type data_gpsone_file, data_file_type, file_type;
type ion_debugfs, fs_type, debugfs_type;
type mdm_helper_efs, data_file_type, file_type;
type surfaceflinger_sysfs, fs_type, sysfs_type;
type sysfs_battery_temp, fs_type, sysfs_type;
type sysfs_bluetooth, fs_type, sysfs_type;
type sysfs_camera_awb_cal, fs_type, sysfs_type;
type sysfs_camera_led_status, fs_type, sysfs_type;
type sysfs_camera_sensor, fs_type, sysfs_type;
type sysfs_flashlight_leds, fs_type, sysfs_type;
type sysfs_system_soc, fs_type, sysfs_type;
type sysfs_virtual_net, fs_type, sysfs_type;
type sysfs_wifi, fs_type, sysfs_type;
type system_vendor_overlay, system_file_type, fs_type;
type vendor_lib_file, vendor_file_type, file_type;
type vibeamp_sysfs, fs_type, sysfs_type;
