allow hal_gnss_default data_gpsone_file:fifo_file { setattr rw_file_perms };
allow hal_gnss_default init:unix_stream_socket { connectto };
allow hal_gnss_default system_data_file:fifo_file rw_file_perms;
