allow mediacodec default_android_vndservice:service_manager { add find };
allow mediacodec qdisplay_service:service_manager { add find };

get_prop(mediacodec, camera_prop)
