allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver sysfs_camera_led_status:file r_file_perms;
allow mediaserver ion_debugfs:file r_file_perms;
allow mediaserver self:netlink_kobject_uevent_socket create_socket_perms;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket rw_socket_perms;
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager { add find };
allow mediaserver vendor_lib_file:file { execmod };
allow mediaserver sysfs_camera_sensor:file r_file_perms;
allow mediaserver sysfs_battery_temp:file r_file_perms;

binder_call(mediaserver, system_server);

