allow mm-qcamerad camera_device:chr_file rw_file_perms;
allow mm-qcamerad camera_socket:sock_file setattr;
allow mm-qcamerad camera_sysfs:file rw_file_perms;
allow mm-qcamerad device:chr_file rw_file_perms;
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:sock_file unlink;
allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad sysfs_camera_awb_cal:file r_file_perms;
allow mm-qcamerad sysfs_camera_awb_cal:dir search;
allow mm-qcamerad sysfs_camera_led_status:file r_file_perms;
allow mm-qcamerad vendor_lib_file:file { execmod };

type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
