allow vold block_device:blk_file { getattr };
allow vold hal_bootctl_hwservice:hwservice_manager { add find };
allow vold sysfs_mmc_host:file rw_file_perms;

